/* Zastosowanie ogólne */
:root {
    background-color: #FFFFFF;
    --main-color: #212121;
    --secondary-color: #757575;
}
.body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.footer {
    display: flex;
    width: 1200px;
    flex-direction: column;
    height: 252px;
    left: 0;
    top: 2097px;
    margin: 0 auto;
    padding: 0 15px;
    background: #2f303A;
}
.main {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 1360px;
    top: 174px;  
    margin: 0 auto;
    padding: 0 15px;  
}
.header {
    display: flex;
    width: 1200px;
    height: 80px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-around;
    align-items: center;
}
/* Pseudoklasy etc */
.contact-link a:hover,
.contact-link a:focus {
    color: #2196F3;
}
.navigation a:hover,
.navigation a:focus {
    color: #2196F3;
}      
.option-button:hover,
.option-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}
.footer-link:hover,
.footer-link:focus {
    color: #2196F3;
}
.footer-mail:hover,
.footer-mail:focus {
    color: #2196F3;
}
.a:hover,
.a:focus {
cursor: pointer;
}
/* Zastosowanie Header */
.navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    }
.brand-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3; 
    text-decoration: none;
}
.brand-h {
    color: #000000;
}
.brand-f {
    color: #FFFFFF;
}
.contact-link a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
}
.menu {
    display: flex;
    list-style: none;
    height: 16px;
    width: 254px;
    left: 453px;
    top: 32px;
}
.menu-item {
    display: block;
    width: 76px;
    height: 16px;
    top: 32px;
}
.menu-link {
    display: flex;
    justify-content: space-around;
    height: 16px;
    width: 295px;
    left: 1078px;
    top: 32px;
}
/* Zastosowanie Main Index Hero */
.hero {
    display: flex;
    width: 1200px;
    height: 600px;
    left: 0px;
    top: 80px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2f303A;
}
.hero h1 {
color: #FFFFFF;
width: 696px;
height: 120px;
top: 280px;
}
.hero button {
width: 200px;
height: 50px;
top: 430px;    
left: auto;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0,0,0,0,15);
border-radius: 4px; 
}
.main-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.order-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
/* Zastosowanie Main Index Text content */
.content-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.content-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.container-text {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.container-text p {
    width: 270px;
    height: 75px;
    top: 800px;
}
.container-text h6 {
    width: 270px;
    height: 16px;
    top: 774px;
}
/* Zastosowanie Main Index img */
.section-subject-wwd {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.container-wwd {
    display: flex;
    list-style: none;
    margin: 0 auto;
    flex-direction: column;
}
.container-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0 auto;
    margin: 0 auto;
}
/* Zastosowanie Main Index Team */
.section-subject {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.frame {
    margin: 10px;
    background-color: #FFFFFF;
}
.container-team {
    display: flex;
    width: 1200px;
    height: 648px;
    left: 0;
    top: 1449px;
    flex-direction: column;
    background-color: #f5f4fa;
}
.container-memb {
    display: flex;
    list-style: none;
    padding: 5px;
    margin-left: 15px;
    background-color: #f5f4fa;
    box-shadow: 0px 1px 3px rgba(0,0,0,0,14), 0px 1px 1px rgba(0,0,0,0,14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
/* Zastosowanie Footer */
.address-link {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-link {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-mail {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
}
/* Zastosowanie w Main Portfolio */
.option-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    }
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-option {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.box-but {
    display: inline;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
}
.card-set {
    flex-basis: calc((100%-10px)/3);
}
